*.pyc
*.*~
setup_script.py*
.idea/
screenshots/
docs/
dist/
*.egg-info/
CellSorterSerial.py
__pycache__/

*.webp
experiments/Data/TEST_rig_recorder_data/
experiments/Data/rig_recorder_data/
experiments/Data/patch_clamp_data/
experiments/Analysis/*/*.png
experiments/Analysis/*/*.mp4
experiments/Analysis/*/*.webp
.DS_Store
/experiments/Analysis/Rig_Recorder/reconstruct/image_saver_test/
/experiments/Analysis/Rig_Recorder/*.csv
/experiments/Analysis/Rig_Recorder/reconstruct/*.csv
/experiments/Data/TEST_patch_clamp_data
/experiments/reference/images
/experiments/Data/victor_analyze/
holypipette/deepLearning/pipetteModelTrainer/Dataset/.*
/experiments/Analysis/Rig_Recorder/recontruct/*.csv


/holypipette/deepLearning/pipetteModelTrainer/Dataset
/experiments/Analysis/Rig_Recorder/Reconstruct/sample_data
/experiments/Data/log_data
/experiments/Data/log_data
/experiments/Data/log_data
experiments/Data/log_data/logs_2024_09_23.csv
experiments/Analysis/Rig_Recorder/Reconstruct/sample_data/2024_08_06-18_11/graph_recording.csv
/experiments/Analysis/Rig_Recorder/Reconstruct/sample_data/2024_08_06-18_11
/experiments/Analysis/Rig_Recorder/Reconstruct/sample_data
annotated_image.jpg
/runs
/holypipette/deepLearning/pipetteModelTrainer/preprocesstestdataset
/holypipette/deepLearning/pipetteTipModel
patch_analyzer.log
/holypipette/deepLearning/pipetteModelTrainer/focus_dataset
/holypipette/deepLearning/pipetteModelTrainer/finder_training_set
/holypipette/deepLearning/pipetteModelTrainer/focus_set-2
pressure/recordings/~$pressure.xlsx
/holypipette/deepLearning/cellModel/sam2
/holypipette/deepLearning/cellModel/MobileSAM
/robomimic_datasets
/robomimic_datasets
/robomimic_datasets
C:\Users\sa-forest\Documents\GitHub\holypipette-pbl\experiments\Data\log_data\logs_2025_02_13.csv
/holypipette/devices/camera/FakeMicroscopeImgs/mask_images
/holypipette/devices/camera/FakeMicroscopeImgs/mask_images
/holypipette/devices/camera/FakeMicroscopeImgs/mask_images
/src/mobile-sam
/src/sam-2
experiments/Datasets/initial_train_dataset.hdf5
experiments/Datasets/temp_dataset.hdf5
experiments/Datasets/temp_dataset.hdf5
/experiments/Datasets
/experiments/Datasets
/testmasks
/holypipette/deepLearning/cellModel
