*.pyc
*.*~
setup_script.py*
.idea/
screenshots/
docs/
dist/
*.egg-info/
CellSorterSerial.py
__pycache__/

*.webp
experiments/Data/TEST_rig_recorder_data/
experiments/Data/rig_recorder_data/
experiments/Data/patch_clamp_data/
experiments/Analysis/*/*.png
experiments/Analysis/*/*.mp4
experiments/Analysis/*/*.webp
.DS_Store
