*.pyc
*.*~
setup_script.py*
.idea/
screenshots/

dist/
*.egg-info/
CellSorterSerial.py
__pycache__/

*.webp

experiments/Datasets
/experiments/Data
/holypipette/devices/camera/FakeMicroscopeImgs/mask_images
/holypipette/deepLearning/cellModel

/testing/testpatchconfig
/holypipette/deepLearning/pipetteTipModel
/holypipette/deepLearning/cellModel



/holypipette/deepLearning/patchModel
/holypipette/deepLearning
/holypipette/deepLearning
/holypipette/deepLearning
/holypipette/experiments/Data
